@{
    ViewBag.Title = "About";
}

<form>
    <div class="form-group" ng-controller="CiudadesCtrl">
        <select ng-model="ciudadSeleccionada" ng-options="ciudad as ciudad.NombreCiudad for ciudad in ciudades">
            <option value="">-- Selecciona una ciudad --</option>
        </select>
        {{ciudadSeleccionada}}
    </div>
    <hr />
    <div class="form-group" ng-controller="CategoriasCtrl">
        <select ng-model="categoriaSeleccionada" ng-options="categoria as categoria.NombreCategoria for categoria in categorias">
            <option value="">-- Selecciona una categoria --</option>
        </select>
        {{categoriaSeleccionada}}
    </div>
</form>

