@{
    ViewBag.Title = "About";
}

<form>
    <div class="form-group" ng-controller="CiudadesCtrl">
        <select ng-model="ciudadSeleccionada" ng-options="ciudad as ciudad.NombreCiudad for ciudad in ciudades">
            <option value="">-- Selecciona una ciudad --</option>
        </select>
        {{ciudadSeleccionada}}
    </div>
    <hr />
    <div class="form-group" ng-controller="CategoriasCtrl">
        <select ng-model="categoriaSeleccionada" ng-options="categoria as categoria.NombreCategoria for categoria in categorias">
            <option value="">-- Selecciona una categoria --</option>
        </select>
        {{categoriaSeleccionada}}
    </div>
    <hr />
    <div class="form-group" ng-controller="MetodologiasCtrl">
        <select ng-model="metodologiaSeleccionada" ng-options="metodologia as metodologia.NombreMetodologia for metodologia in metodologias">
            <option value="">-- Selecciona una metodologia --</option>
        </select>
        {{metodologiaSeleccionada}}
    </div>
    <hr />
    <div class="form-group" ng-controller="ClientesCtrl">
        <select ng-model="clienteSeleccionado" ng-options="cliente as cliente.NombreCliente for cliente in clientes">
            <option value="">-- Selecciona un cliente --</option>
        </select>
        {{clienteSeleccionado}}
    </div>
    <hr />
    <div class="form-group" ng-controller="LevantamientosCtrl">
        <select ng-model="levantamientoSeleccionado" ng-options="levantamiento as levantamiento.NombreLevantamiento for levantamiento in levantamientos">
            <option value="">-- Selecciona un levantamiento --</option>
        </select>
        {{levantamientoSeleccionado}}
    </div>
</form>

