@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inicio";
}

@section Scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIBgbdAH3bTWjq6XMAaOKtFhTgYkGEqpc&sensor=FALSE&libraries=drawing"></script>
}

<hr>

<!-- Modal para Ciudades -->
<div class="modal fade" id="ciudadesModal" @*tabindex="-1" role="dialog" aria-labelledby="ciudadesModalLabel" aria-hidden="true"*@>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" id="ciudadesModalLabel">Se está cargando la información de los AGEB's....</h4>
            </div>
            <div class="modal-body" id="modalBody">
                <div class="progress" id="barraProgreso">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete (success)</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal para Nuevo Proyecto -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Proyecto - NSE Regla AMAI 8x7</h4>
            </div>
            <div class="modal-body" ng-controller="NuevoProyectoCtrl">
                <form name="NuevoProyectoForm" ng-submit="CreaNuevoProyecto()">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label for="numProyecto">Número de Proyecto</label>
                                <input type="text" required maxlength="6" class="form-control" ng-model="numProyecto" id="numProyecto" placeholder="Número de Proyecto">
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label for="nombreProyecto">Nombre de Proyecto</label>
                                <input type="text" required maxlength="50" class="form-control" ng-model="nombreProyecto" id="nombreProyecto" placeholder="Nombre de Proyecto">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <select required ng-model="categoriaSeleccionada" ng-options="categoria as categoria.NombreCategoria for categoria in categorias">
                                    <option value="">-- Selecciona una categoria --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <select required ng-model="clienteSeleccionado" ng-options="cliente as cliente.NombreCliente for cliente in clientes">
                                    <option value="">-- Selecciona un cliente --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <select required ng-model="ciudadSeleccionada" ng-options="ciudad as ciudad.NombreCiudad for ciudad in ciudades">
                                    <option value="">-- Selecciona una ciudad --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <select required ng-model="metodologiaSeleccionada" ng-options="metodologia as metodologia.NombreMetodologia for metodologia in metodologias">
                                    <option value="">-- Selecciona una metodologia --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <select required ng-model="levantamientoSeleccionado" ng-options="levantamiento as levantamiento.NombreLevantamiento for levantamiento in levantamientos">
                                    <option value="">-- Selecciona un levantamiento --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label for="numProyecto">Muestra Total</label>
                                <input type="number" required min="10" max="1000" ng-model="muestraTotal" class="form-control" id="muestraTotal" placeholder="Muestra Total">
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label for="numProyecto">Número de Entrevistas por Punto</label>
                                <input type="number" required min="1" max="1000" ng-model="entrevistasPorPunto" class="form-control" id="numEntrevistasPorPunto" placeholder="Número de Entrevistas por Punto">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label for="nombreProyecto">A/B(%)</label>
                                <input min="1" max="100" type="number" class="form-control" ng-model="numAB" id="numAB" placeholder="A/B(%)">
                                Entrevistas <span id="badgeEntrevistasNumAB" class="badge">{{eAB}}</span>
                                &nbsp;&nbsp;Agebs <span id="badgeAgebsNumAB" class="badge">{{aAB}}</span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label for="nombreProyecto">C+(%)</label>
                                <input min="1" max="100" type="number" class="form-control" ng-model="numCPlus" id="numCPlus" placeholder="C+(%)">
                                Entrevistas <span id="badgeEntrevistasNumCPlus" class="badge">{{eCPlus}}</span>
                                &nbsp;&nbsp;Agebs <span id="badgeAgebsNumCPlus" class="badge">{{aCPlus}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label for="nombreProyecto">C(%)</label>
                                <input min="1" max="100" type="number" class="form-control" ng-model="numC" id="numC" placeholder="C(%)">
                                Entrevistas <span id="badgeEntrevistasNumC" class="badge">{{eC}}</span>
                                &nbsp;&nbsp;Agebs <span id="badgeAgebsNumC" class="badge">{{aC}}</span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label for="nombreProyecto">C-(%)</label>
                                <input min="1" max="100" type="number" class="form-control" ng-model="numCMinus" id="numCMinus" placeholder="C-(%)">
                                Entrevistas <span id="badgeEntrevistasNumCMinus" class="badge">{{eCMinus}}</span>
                                &nbsp;&nbsp;Agebs <span id="badgeAgebsNumCMinus" class="badge">{{aCMinus}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label for="nombreProyecto">D-(%)</label>
                                <input min="1" max="100" type="number" class="form-control" ng-model="numDMinus" id="numDMinus" placeholder="D-(%)">
                                Entrevistas <span id="badgeEntrevistasNumDMinus" class="badge">{{eDMinus}}</span>
                                &nbsp;&nbsp;Agebs <span id="badgeAgebsNumDMinus" class="badge">{{aDMinus}}</span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label for="nombreProyecto">D+(%)</label>
                                <input min="1" max="100" type="number" class="form-control" ng-model="numDPlus" id="numDPlus" placeholder="D+(%)">
                                Entrevistas <span id="badgeEntrevistasNumDPlus" class="badge">{{eDPlus}}</span>
                                &nbsp;&nbsp;Agebs <span id="badgeAgebsNumDPlus" class="badge">{{aDPlus}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label for="nombreProyecto">E(%)</label>
                                <input min="1" max="100" type="number" class="form-control" ng-model="numE" id="numE" placeholder="E(%)">
                                Entrevistas <span id="badgeEntrevistasNumE" class="badge">{{eE}}</span>
                                &nbsp;&nbsp;Agebs <span id="badgeAgebsNumE" class="badge">{{aE}}</span>
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-3 pull-right">
                            <button type="submit" class="btn btn-success btn-sm">Generar proyecto</button>
                        </div>
                        <div class="col-xs-3 col-md-3 pull-right">
                            <button type="button" ng-click="SimulaProyecto()" class="btn btn-warning btn-sm">Simular proyecto</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.Modal -->
<!-- Mapa -->
<div class="row">
    <div class="col-md-11 col-md-offset-1" id="mapDiv"></div>
</div>
<!-- /.Mapa -->
